<mat-toolbar color="accent">
  <span><a routerLink="/" class="font-color-pink">LinkSaved</a></span>
  <span class="spacer"></span>
  <ul style="display: flex;">
    <li>
      <a *ngIf="isAuth" routerLink="/dayreads" mat-button>
        <mat-icon>bar_chart</mat-icon>
      </a>
    </li>
    <li>
      <a *ngIf="isAuth; else loginBtn" routerLink="/create" mat-button>
        <mat-icon>control_point</mat-icon>
      </a>
    </li>
    <ng-template #loginBtn>
      <a routerLink="/login" mat-button>
        <mat-icon>login</mat-icon>
      </a>
    </ng-template>
  </ul>
</mat-toolbar>
