a {
  text-decoration: none;
  color: #7b1fa2;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

mat-icon {
  font-size: 28px;
}
