mat-form-field {
  width: 100%;
}

mat-card {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.font-green {
  color: #69f0ae;
}

.font-ls {
  font-family: "Courier New", Courier, monospace;
}