<mat-card *ngIf="!isLoading; else loader">
    <form [formGroup]="linkForm" (ngSubmit)="onAddLink()">
        <mat-form-field>
            <mat-label style="font-family: 'Courier New', Courier, monospace;">Paste here the URL...</mat-label>
            <input type="text" matInput formControlName="linkUrl" required>
            <mat-error *ngIf="linkForm.controls['linkUrl'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button style="font-family: 'Courier New', Courier, monospace;" color="accent">Save Link</button>
    </form>
</mat-card>
<ng-template #loader>
    <div>
        <mat-progress-spinner class="loader" diameter=50 mode="indeterminate" color="accent">
        </mat-progress-spinner>
    </div>
</ng-template>