mat-card {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.loader {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
