:host {
    margin-top: 30px;
  border-radius: 8px;
}

mat-card {
    max-height: 200px;
    max-width: 800px;
    min-width: 800px;
    font-family: 'Courier New', Courier, monospace;
}

.seen-link-icon {
    color: gray;
}

mat-card-title {
    cursor: pointer;
}